
form {
    font-family: Verdana,Tahoma,sans-serif;
    font-size: 15px;
    background-color: #405268;
    max-width: 500px;
}

h2 {
    margin-bottom: 20px;
    color: #ffffff;
    
}

input, textarea {
    width: 600px;
    padding: 10px;
    color: black;
    margin-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
}

input:hover, textarea:hover, input:focus, textarea:focus {
    border-color: #09d;
    box-shadow: 5px 0px 9px #4dc8ff;
    background-color: #ffffff;
    color: black;
    font-weight: bold;
}

enviar {
    background-color: #66FFFF;
    height: 40px;
    width: 150px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: black;
}

.textarea {
    width: 100px;
    height: 40px;
    line-height: 20px;
    max-width: 400px;
}

form label {
    
    color: #FFFFFF;
    font-weight: bold;
}